<tr>
    <td class="stars">5 star</td>
    <td class="range">
        <div class="range-slider disabled" data-slider="0">
            <span class="range-slider-active-segment"></span>
        </div>
    </td>
    <td class="total">0</td>
</tr>
<tr>
    <td class="stars">4 star</td>
    <td class="range">
        <div class="range-slider disabled" data-slider="0">
            <span class="range-slider-active-segment"></span>
        </div>
    </td>
    <td class="total">0</td>
</tr>
<tr>
    <td class="stars">3 star</td>
    <td class="range">
        <div class="range-slider disabled" data-slider="0">
            <span class="range-slider-active-segment"></span>
        </div>
    </td>
    <td class="total">0</td>
</tr>
<tr>
    <td class="stars">2 star</td>
    <td class="range">
        <div class="range-slider disabled" data-slider="0">
            <span class="range-slider-active-segment"></span>
        </div>
    </td>
    <td class="total">0</td>
</tr>
<tr>
    <td class="stars">1 star</td>
    <td class="range">
        <div class="range-slider disabled" data-slider="0">
            <span class="range-slider-active-segment"></span>
        </div>
    </td>
    <td class="total">0</td>
</tr>